.navbar {
    position: fixed;
    left: 0;
    padding: 0 10px ;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); 
    z-index: 1000;
    display: flex;
}
.navbar-logo {
    width: 55px;
}
.navbar-ul{
    display: flex;
    list-style: none;
     margin-left: 20px; 
}
.navbar-li{
 margin-left: 20px;
  
}